.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .logo-container {
    padding: 0px 20px;
    display: flex;
    text-decoration: none

  }
  .logo{
      height: 60px;
      width: 60px;
      
  }
  .display-name{
    color: black;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 0 0;
    .option {
      min-width: 60px;
      padding: 10px 15px;
      color: black;
    text-decoration: none;
    }
  }
}
